html {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: lightgray;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

}

